<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <title>About - Treasure Airport</title>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">About Treasure Airport</h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href='index.html'>Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="flex-wrap">
            <section class="box">
                <header>
                    <h2>Project Overview</h2>
                </header>
                <p>
                    Welcome to Treasure Airport! This project aims to provide an interactive game experience centered around environmental awareness and treasure hunting. Players navigate through different challenges and locations while learning about climate change and sustainable actions.
                </p>
            </section>

            <section class="box">
                <header>
                    <h2>Team</h2>
                </header>
                <p>
                    Treasure Airport was a daring adventure that took flight thanks to the valiant efforts of a lone hero:
                </p>
                <ul>
                    <li>Viswak - The Fearless Treasure Hunter, Game Developer, Environmentalist, Graphic Designer, and the Jack-of-All-Trades! 🦸‍♂️</li>
                </ul>
                <p>
                    With an unwavering spirit and a passion for adventure, Viswak single-handedly embarked on this thrilling journey to create an experience that combines fun, learning, and treasure hunting.
                </p>
            </section>

            <section class="box">
                <header>
                    <h2>Contact Us</h2>
                </header>
                <p>
                    If you have any inquiries or feedback, please feel free to contact us at:
                </p>
                <p>Email: contact@treasureairport.com</p>
            </section>
        </main>

        <footer class="page-footer">Created by Viswak</footer>
    </div>
</body>

</html>
