<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Oops! You Lost - Treasure Airport</title>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">Oops! You Lost...</h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href='index.html'>Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="flex-wrap">
            <section class="box">
                <header>
                    <h2>Try Again!</h2>
                </header>
                <p>
                    Unfortunately, your quest to find the treasure didn't succeed this time. But don't lose heart! Dust yourself off and get ready for another adventure.
                </p>
                <p>
                    With persistence and determination, the treasure awaits your next attempt. Keep exploring and stay adventurous!
                </p>
            </section>

            <section class="box">
                <header>
                    <h2>Next Adventure</h2>
                </header>
                <p>
                    Keep an eye out for the next opportunity to embark on thrilling adventures. Stay tuned for updates and new challenges!
                </p>
            </section>
        </main>

        <footer class="page-footer">Created by Viswak</footer>
    </div>
</body>

</html>
