<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet">
    <title>Congratulations - Treasure Airport</title>
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1 class="page-title">Congratulations!</h1>
            <nav>
                <ul class="flex-wrap space-evenly">
                    <li>
                        <a class="button button-white" href='index.html'>Game</a>
                    </li>
                    <li>
                        <a class="button button-white" href="about.html">About</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="flex-wrap">
            <section class="box">
                <header>
                    <h2>You Won!</h2>
                </header>
                <p>
                    Congratulations on successfully completing the Treasure Hunt at Treasure Airport! 🎉🏆🌟
                </p>
                <p>
                    You've shown remarkable skills and determination in discovering the hidden treasures while making environmentally friendly choices.
                </p>
            </section>

            <section class="box">
                <header>
                    <h2>Next Adventure</h2>
                </header>
                <p>
                    Stay tuned for more thrilling adventures and challenges. The next treasure hunt awaits! Get ready for new discoveries and exciting quests.
                </p>
            </section>
        </main>

        <footer class="page-footer">Created by Viswak</footer>
    </div>
</body>

</html>
